version: '3.8'

services:
  # Database PostgreSQL
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: scraperdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - scraper-net

  # Backend Spring Boot
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/scraperdb
    depends_on:
      - db
    networks:
      - scraper-net
    deploy:
      resources:
        limits:
          cpus: '1.0'     # Giới hạn 1 CPU
          memory: 1024M   # Giới hạn 1GB RAM

  # Frontend React
  frontend:
    build: ./frontend
    ports:
      - "3000:5173"
    networks:
      - scraper-net

volumes:
  postgres_data:

networks:
  scraper-net: